[submodule "The-Optometrists-Companion"]
	path = The-Optometrists-Companion
	url = git@github.com:J-Mann-123/The-Optometrists-Companion.git
[submodule "optometrists-companion-web-homepage"]
	path = optometrists-companion-web-homepage
	url = git@github.com:J-Mann-123/optometrists-companion-web-homepage.git